html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
}

.canvas {
	background-color: #001134;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: visible;
	display: block;
}

.canvas:not(.active):not(.ctrl) {
	cursor: grabbing;
}

path.link {
	fill: none;
	stroke: #50E3C2;
	stroke-width: 4px;
	cursor: default;
}

.canvas:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}

path.link.selected {
	stroke-dasharray: 10,2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

circle.node {
	cursor: pointer;
}

text {
	font: 12px sans-serif;
	pointer-events: none;
}

text.id {
	text-anchor: middle;
	font-weight: bold;
}

.body-blurred {
	filter: blur(5px);
	opacity: 0.9;
	transition: .5s;
}

.full-node {
	width: 200px;
	height: 300px;
	background: #fff;
	transform: scale(0);
	transform-origin: center;
	opacity: 0;
	position: absolute;
	z-index: 100;
	transition: 0.5s;
}

.full-node.full-node-expanded {
	transform: scale(1);
	opacity: 1;
}

.node,
.fabShadow {
	transition: 0.3s;
	transform-origin: center;
}

.syn:hover .node,
.syn:hover .fabShadow  {
	transform: scale(4.5);
}

.fabShadow {
	opacity: 0;
}

.syn:hover .fabShadow {
	opacity: 1;
}




