html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: #001134;
}

.canvas {
	background-color: #001134;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: visible;
	display: block;
}


path.link {
	fill: none;
	stroke: #50E3C2;
	stroke-width: 4px;
	cursor: default;
}

.canvas:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}

path.link.selected {
	stroke-dasharray: 10,2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

/* cursors */

.dragline:hover {
	cursor: -webkit-grabbing;
}

.card-node {
	cursor: pointer;
}

.card-input:hover {
	cursor: pointer;
}

.syn:active,
.syn:active .card-input {
	cursor: -webkit-grabbing;
}

.card-input:focus {
	cursor: text;
}

.card-node:active,
.dragline:active {
	cursor: -webkit-grabbing;
}

text {
	font: 12px sans-serif;
	pointer-events: none;
}

text.id {
	text-anchor: middle;
	font-weight: bold;
}

.blurred {
	filter: blur(5px);
	opacity: 0.9;
	transition: .5s;
}

.full-node {
	width: 200px;
	height: 300px;
	background: #fff;
	transform: scale(0);
	transform-origin: center;
	opacity: 0;
	position: absolute;
	z-index: 100;
	transition: 0.5s;
}

.full-node.full-node-expanded {
	transform: scale(1);
	opacity: 1;
}

.syn {
	animation: card-appear 0.3s;
}

.card-node,
.card-node-shadow {
	transition: 0.3s;
	transform-origin: center;
}

.syn:hover .card-node,
.syn:hover .card-node-shadow  {
	transform: scale(4.5);
}

.card-node-shadow {
	opacity: 0;
}

.syn:hover .card-node-shadow {
	opacity: 1;
}

.card-input {
	margin-left: 15px;
	margin-top: 10px;
	height: 70px;
	width: 150px;
	resize: none;
	font-size: 17px;
	overflow: hidden;
	border: none;
	font-weight: lighter;
}

.syn-expanded .card-input {
	height: 170px;
	width: 350px;
}

.card-input:focus {
	outline: none;
}


@keyframes card-appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1);
	}

}


