// @import "~src/utilities/utils.scss";

$synBlue: #4A90E2;
$synTurqoise: #50E3C2;
$bodyColor: #192946;

$cardWidth: 186px;
$cardHeight: 100px;

$cardOffsetX: -calc($cardWidth +15px);
$cardOffsetY: -calc($cardHeight +15px);

$cardShadowOffsetX: -calc($cardWidth +19px);
$cardShadowOffsetY: -calc($cardHeight +19px);

$cardExpandedWidth: 380px;
$cardExpandedHeight: 260px;

$cardExpandedWidthOffsetX: -calc($cardExpandedWidth +15px);
$cardExpandedWidthOffsetY: -calc($cardExpandedHeight +15px);

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: $bodyColor;
}

.canvas {
	background-color: $bodyColor;
	cursor: default;
	user-select: none;
	overflow: visible;
	display: block;
}

.blurred {
	filter: url('#blur');
}

path.link {
	fill: none;
	stroke: rgba($synBlue, 0.7);
	stroke-width: 4px;
	cursor: -webkit-grabbing;
}


path.link.selected {
	stroke-dasharray: 10,2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

/* cursors */

.dragline:hover {
	cursor: -webkit-grabbing;
}

.syn:active .card-input,
.syn:active .card,
.syn:active .card-node,
.syn:active .card-node-shadow,
.syn:active .dragline {
	cursor: -webkit-grabbing;
}

.card-node:active,
.dragline:active,
.dragline,
.linking  {
	cursor: -webkit-grabbing;
}

.card-node:hover,
.card-node-shadow:hover,
.card-node,
.card-node-shadow,
.card-action {
	cursor: pointer;
}

.card-input,
.card,
.card-html-wrap,
.card-html-wrap:hover {
	cursor: -webkit-grab;
}

.card-input {
	pointer-events: none;
}

.syn-expanded .card-input {
	pointer-events: all;
}

.syn-expanded .card-input {
	cursor: text;
}

.linking .syn:hover,
.linking .syn:hover .card-input,
.linking .syn:hover .card,
.linking .syn:hover .card-html-wrap,
.linking .syn:hover .card-html-wrap:hover {
	cursor: pointer;
}
/**/


// .full-node {
// 	width: 200px;
// 	height: 300px;
// 	background: #fff;
// 	transform: scale(0);
// 	opacity: 0;
// 	position: absolute;
// 	z-index: 100;
// 	transition: 0.5s;
// }

// .full-node.full-node-expanded {
// 	transform: scale(1);
// 	opacity: 1;
// }


.card,
.card-shadow,
.card-html-wrap,
.card-input,
.card-node,
.card-node-shadow,
.card-corner,
.card-node-tri  {
	transition: 0.3s;
}

.syn {
	// animation: card-appear 0.3s;
}

.card {
	transform: translate($cardOffsetX, $cardOffsetY) scale(1);
}

.card-html-wrap {
	transform: translate($cardOffsetX, $cardOffsetY);
}

.card-shadow {
	transform: translate($cardShadowOffsetX, $cardShadowOffsetY);
}

.card-corner {
	transform: translate(-26px, -26px);
}

.card-node {
	transform: scale(0);
	fill: rgba(0,0,0,0);
}


.card-node-shadow {
	fill: $synBlue;
}

.card-node-tri {
	fill: $bodyColor;
	transform: translate(0px, 0px) scale(0);
}

.card-html-wrap {
	position: relative;
}

.card-input {
	background: rgba(255,255,255,1);
	margin-left: 20px;
	margin-top: 10px;
	height: 71px;
	width: 150px;
	resize: none;
	font-size: 18px;
	line-height: 24px;
	overflow: hidden;
	border: none;
	font-weight: 300;
	transition: 0.3s;
	animation: card-flick 0.3s;
}

.card-input:focus {
	outline: none;
}

.card-action {
	transform: translate(-200px, -90px) scale(1);
	transition: 0.35s;
	fill: $synBlue;
	stroke-width: 3px;
	stroke: $bodyColor;
}

// synapse hover state
.syn:hover {

	& .card-node {
		transform: scale(2.75);
	}

	& .card-node-shadow {
		transform: scale(2.5);
		fill: $synTurqoise;
	}

	& .card-action {
		transform: translate(-230px, -90px) scale(1.3);
		animation-timing-function: linear;
		fill: $bodyColor;
		stroke-width: 7px;
		stroke: $synTurqoise;
	}

	& .card-node-tri {
		transform: translate(-10px, -8px) scale(1);
	}

}

// synapse pressing state
.syn:active  {
	& .card {
		transform: translate($cardOffsetX, $cardOffsetY) scale(0.95);
	}

	& .card-html-wrap {
		transform: translate($cardOffsetX, $cardOffsetY) scale(0.95);
	}

	& .card-shadow {
		transform: translate($cardShadowOffsetX, $cardShadowOffsetY) scale(0.95);
	}

	& .card-corner {
		transform: translate(-35px,-31px) scale(1);
	}
}

// synapse expanded state
.syn-expanded {

	& .card {
		transform: translate($cardExpandedWidthOffsetX, $cardExpandedWidthOffsetY) scale(1);
	}

	& .card-html-wrap {
		transform: translate($cardExpandedWidthOffsetX, $cardExpandedWidthOffsetY) scale(1);
	}

	& .card-node-shadow {
		transform: scale(1);
		fill: rgba($synBlue, 0.7);
	}

	&:active {
		& .card {
			transform: translate($cardExpandedWidthOffsetX, $cardExpandedWidthOffsetY) scale(1);
		}

		& .card-html-wrap {
			transform: translate($cardExpandedWidthOffsetX, $cardExpandedWidthOffsetY) scale(1);
		}

		& .card-corner {
			transform: translate(-26px, -26px);
		}
	}


	&:hover {
		& .card-node-tri {
			transform: translate(0px, 0px) scale(0);
		}

		& .card-node-shadow {
			transform: scale(1);
			fill: rgba($synBlue, 0.7);
		}

		& .card-action  {
			transform: translate(-440px,-235px) scale(1.5);
			animation: none;
			fill: #fff;
			stroke: none;
			stroke-width: 10px;
			stroke: $synBlue;
		}
	}

	& .card-action  {
		transform: translate(-440px,-235px) scale(1.5);
		animation: none;
		fill: #fff;
		stroke: none;
		stroke-width: 10px;
		stroke: $synBlue;
	}

	& .card-input {
		font-size: 33px;
	    line-height: 45px;
	    width: 340px;
	    height: 220px;
	    animation: card-flick 0.3s;
	    font-weight: 200;
	}

}

// synapse linking state
.linking {

	& .syn:hover {

		& .card {
			transform: translate($cardOffsetX, $cardOffsetY) scale(1.02);
		}

		& .card-corner {
			transform: translate(-22px,-24px) scale(1);
		}

		& .card-node-tri  {
			transform: translate(0px, 0px) scale(0);
		}

		& .card-node {
			transform: scale(0);
		}

		& .card-node-shadow {
			transform: scale(1);
			fill: $synTurqoise;
		}

		& .card-action {
			transform: translate(-200px, -90px) scale(1);
			transition: 0.35s;
			fill: $synBlue;
			stroke-width: 3px;
			stroke: $bodyColor;
		}
	}
}


@keyframes card-flick {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes card-appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}
