$synBlue: #4A90E2;
$synRed: #50E3C2;
$bodyColor: #192946;

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: hotpink;
}

.canvas {
	background-color: $bodyColor;
	cursor: default;
	user-select: none;
	overflow: visible;
	display: block;
}


path.link {
	fill: none;
	stroke: rgba($synBlue, 0.7);
	stroke-width: 4px;
	cursor: -webkit-grabbing;
}


path.link.selected {
	stroke-dasharray: 10,2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

/* cursors */

.dragline:hover {
	cursor: -webkit-grabbing;
}

.syn:active .card-input,
.syn:active .card,
.syn:active .card-node,
.syn:active .card-node-shadow,
.syn:active .dragline {
	cursor: -webkit-grabbing;
}

.card-node:active,
.dragline:active,
.dragline,
.linking  {
	cursor: -webkit-grabbing;
}

.card-node:hover,
.card-node-shadow:hover,
.card-node,
.card-node-shadow,
.card-action {
	cursor: pointer;
}

.card-input,
.card,
.card-html-wrap,
.card-html-wrap:hover {
	cursor: -webkit-grab;
}

.card-input {
	pointer-events: none;
}

.syn-expanded .card-input {
	pointer-events: all;
}

.syn-expanded .card-input {
	cursor: text;
}

.linking .syn:hover,
.linking .syn:hover .card-input,
.linking .syn:hover .card,
.linking .syn:hover .card-html-wrap,
.linking .syn:hover .card-html-wrap:hover {
	cursor: pointer;
}
/**/


.full-node {
	width: 200px;
	height: 300px;
	background: #fff;
	transform: scale(0);
	opacity: 0;
	position: absolute;
	z-index: 100;
	transition: 0.5s;
}

.full-node.full-node-expanded {
	transform: scale(1);
	opacity: 1;
}

.syn {
	animation: card-appear 0.3s;
}

.card-corner {
	transition: 0.35s;
}

.syn:active .card,
.syn:active .card-html-wrap {
	transform: scale(0.95);
}

.linking .syn:hover .card {
	transform: scale(1.02);
}

.linking .syn:hover .card-corner {
	transform: scale(1.02);
}

.syn-expanded.syn:active .card,
.syn-expanded.syn:active .card-html-wrap {
	transform: scale(1);
}

.card-save {
	cursor: pointer;
	animation: card-save 0.30s;
}

@keyframes card-save {
	0% {
		transform: translate(0px, 0px) scale(0);
	}

	80% {
		transform: translate(-443px, -248px) scale(0);
	}

	100% {
		transform: translate(-443px, -248px) scale(1);
	}
}

.card-node,
.card-node-shadow {
	transition: 0.3s;
}

.card-node-tri {
	fill: $bodyColor;
	transition: 0.35s;
}

.syn:hover .card-node-tri {
	transform: translate(-10px, -8px) scale(1);
}

// hide on default
.card-node-tri,
// hide on expaned state
.syn.syn-expanded:hover .card-node-tri,
// hide when linking
.linking .syn:hover .card-node-tri  {
	transform: translate(0px, 0px) scale(0);
}

.card-node {
	transform: scale(0);
	fill: rgba(0,0,0,0);
}

.syn:hover .card-node {
	transform: scale(2.75);
}

.syn:hover .card-node-shadow {
	transform: scale(2.5);
	fill: $synRed;
}

.syn.syn-expanded:hover .card-node {
	transform: scale(0);
}

.card-node-shadow {
	fill: $synBlue;
}

.syn.syn-expanded .card-node-shadow,
.syn.syn-expanded:hover .card-node-shadow {
	transform: scale(1);
	fill: rgba($synBlue, 0.7);
}

.linking .syn:hover .card-node-shadow {
	transform: scale(1);
	fill: $synRed;
}

.card,
.card-shadow,
.card-html-wrap,
.card-input {
	transition: 0.3s;
}

.card-html-wrap {
	position: relative;
}

.card-input {
	background: rgba(0,0,0,0);
	margin-left: 20px;
	margin-top: 10px;
	height: 71px;
	width: 150px;
	resize: none;
	font-size: 18px;
	line-height: 24px;
	overflow: hidden;
	border: none;
	font-weight: 300;
	transition: 0.3s;
	animation: card-flick 0.3s;
}

.syn-expanded .card-input {
	font-size: 33px;
    line-height: 45px;
    width: 340px;
    height: 220px;
    animation: card-flick 0.3s;
    font-weight: 200;
}

.card-input:focus {
	outline: none;
}

.card-action,
.linking .syn:hover .card-action {
	transform: translate(-200px, -90px) scale(1);
	transition: 0.35s;
	fill: $synBlue;
	stroke-width: 3px;
	stroke: $bodyColor;
}

.syn:hover .card-action {
	transform: translate(-230px, -90px) scale(1.3);
	animation-timing-function: linear;
	fill: $bodyColor;
	stroke-width: 7px;
	stroke: $synRed;
}

.syn-expanded .card-action,
.syn-expanded:hover .card-action  {
	transform: translate(-440px,-235px) scale(1.5);
	animation: none;
	fill: #fff;
	stroke: none;
	stroke-width: 10px;
	stroke: $synBlue;
}

@keyframes card-flick {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes card-appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}
