<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
</head>
<body>

<div class="log-container">
    <h2>Hello, person &mdash; authenticate yourself:</h2>
    <input type="text" placeholder="enter your identifier here" class="log-input-name">
    <input type="password" placeholder="enter your pass phrase here" class="log-input-password">
    <div class="log-in-button">Authenticate</div>
</div>

</body>
<script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
<script>

    var config = {
      apiKey: "AIzaSyBWyd3lRjkN6cV7h9KavIF3C6vu19trPj4",
      authDomain: "sunflower-33166247.firebaseapp.com",
      databaseURL: "https://sunflower-33166247.firebaseio.com",
      projectId: "sunflower-33166247",
      storageBucket: "sunflower-33166247.appspot.com",
      messagingSenderId: "1047833269465"
    };

    firebase.initializeApp(config);

</script>
</html>
