$synBlue: #4A90E2;
$synTurqoise: #50E3C2;
$synTurqoiseL: #4AD2B6;
$bodyColor: #192946;
$synDark: #121D31;

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: $synTurqoise;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 800;
	font-size: 58px;
	color: #FFFFFF;
	text-shadow: 0 4px 0 rgba(0,0,0,0.06);
	text-align: center;
	margin-top: 80px;
}

input {
	width: 400px;
	height: 55px;
	margin: 10px 0 20px 0;
	border: 1px dashed rgba($synTurqoiseL, 0);
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.09);
	display: inline-block;
}

input:focus {
	outline: none;
	border: 1px dashed rgba(#4AD2B6, 1);
}

h2 {
	color: #50E3C2;
	color: #fff;
}

.preview-circle {
	width: 600px;
	height: 600px;
	border-radius: 50%;
	background: $bodyColor;
	border: 40px solid $synTurqoiseL;
		overflow: hidden;
}

.preview-circle video {
	width: 600px;
	height: auto;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 30px 0px;
}

.preview-container {
	display: inline-block;
	text-align: center;
	width: auto;
	overflow: hidden;
}

.preview-container video {
	margin-top: 55px;
	border: none;
	box-shadow: none;
}

.log-in-container {
	width: 400px;;
	display: inline-block;
	margin: 0 100px;

	& h1 {
		text-align: left;
		margin-top: 0;
		margin-bottom: 10px;
	}
}

.log-in-container p {
	color: $synDark;
	font-size: 15px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 30px;
}

.log-in-container a {
	color: $synDark;
}

.log-in-container p span {
	font-weight: 500;
}

.log-in-container label {
	display: block;
	margin-top: 10px;
	color: $synDark;
}

.prime-button {
    padding: 20px 40px;
    color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	background: $synDark;
	border-radius: 15px;
	text-align: center;
	display: inline-block;
	transition: 0.25s;
	box-shadow: 0 4px 0 2px rgba(19,31,52,0.10);
}

.prime-button:hover {
	cursor: pointer;
	background: lighten($synDark, 2%);
}

.prime-button:active {
	transform: translateY(4px);
	box-shadow: 0 0px 0 2px rgba(19,31,52,0.10);
	background: darken($synDark, 2%);
}

.log-in-button {
	margin-top: 30px;
}
