$synBlue: #4A90E2;
$synTurqoise: #50E3C2;
$synTurqoiseL: #4AD2B6;
$bodyColor: #192946;
$synDark: #121D31;

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: $synTurqoise;
	font-family: 'Montserrat', sans-serif;
}


input {
	width: 320px;
	height: 55px;
	margin: 10px 0;
	border: 1px dashed rgba($synTurqoiseL, 0);
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.09);
	display: inline-block;

}

input:focus {
	outline: none;
	border: 1px dashed rgba(#4AD2B6, 1);
}

h2 {
	color: #50E3C2;
	color: #fff;
}

.preview-circle {
	width: 600px;
	height: 600px;
	border-radius: 50%;
	background: $bodyColor;
	border: 40px solid $synTurqoiseL;
		overflow: hidden;
}

.preview-circle video {
	width: 600px;
	height: auto;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 30px 0px;
}

.preview-container {
	display: inline-block;
	text-align: center;
	width: auto;
	overflow: hidden;
}

.log-in-container {
	width: 400px;;
	display: inline-block;
	margin: 0 100px;
}

.log-in-container p {
	color: $synDark;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 40px;
}

.log-in-container a {
	color: $synDark;
}

.log-in-container p span {
	font-weight: 500;
}

.log-in-container label {
	display: block;
	margin-top: 10px;
	color: $synDark;
}

.log-in-button {
    padding: 20px 40px;
    color: #fff;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: bold;
	background: $synDark;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	transition: 0.4s;
}

.log-in-button:hover {
	cursor: pointer;
}

.log-in-button:active {
	transform: scale(0.8);
}
